<style>
 article {
     width: clamp(360px, 65%, 750px);
     margin: 0px auto;
     object {
         width: 100%;
     }
     .article-header {
         text-align: center;
         width: clamp(360px, 65%, 750px);
         margin: 50px auto;
     }
 }
</style>
<article>
    <div class="article-header">
        <p>
            This is the personal website of Taniguchi,
            who specializes in mathematical logic and formal language theory.
        </p>
    </div>
    <object class="dome" type="image/svg+xml" data="/dome.svg">
        お使いのブラウザはSVGをサポートしていません。
    </object>
</article>
