<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} - tani.cc</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1/font/bootstrap-icons.min.css">
        <style>
         body {
             font-family: "EB Garamond", "Noto Serif JP", Georgia, serif;
             background: #fefbfa;
             color: #353333;
             .container {
                 max-width: 720px;
             }
             header {
                 display: grid;
                 grid-template-rows: auto auto;
                 grid-template-columns: 1fr auto;
                 h1 {
                     font-family: "Open Sans", sans-serif;
                     font-size: 1.3em;
                 }
                 label {
                     font-family: "Open Sans", sans-serif;
                     cursor: pointer;
                     text-align: right;
                     font-size: 1.3em;
                     i:nth-of-type(1) {
                         display: none;
                     }
                 }
                 ul {
                     display: none;
                 }
                 &:has(input:checked) {
                     label i {
                         &:nth-of-type(1) {
                             display: inline-block;
                         }
                         &:nth-of-type(2) {
                             display: none;
                         }
                     }
                     ul {
                         display: block;
                     }
                 }
             }
             main {
                 article {
                     text-align: justify;
                     h1, h2, h3, h4, h5 {
                         text-align: center;
                         margin-top: 2em;
                     }
                 }
             }
             footer {
                 border-top: 1px #ccc solid;
             }
         }
        </style>
    </head>
    <body>
        <header class="container">
            <h1>@tani</h1>
            <label>
                <i class="bi bi-three-dots-vertical"></i>
                <i class="bi bi-three-dots"></i>
                <input class="d-none" type="checkbox">
            </label>
            <ul>
                <li>
                    <a href="https://scrapbox.io/tani-note/">
                        <i class="bi bi-journal"></i> Scrapbox
                    </a>
                </li>
                <li>
                    <a href="https://github.com/tani">
                        <i class="bi bi-github"></i> GitHub
                    </a>
                </li>
            </ul>
        </header>
        <main class="container">
            <article>
                {{{ article }}}
            </article>
        </main>
        <footer class="container">
            <p>
                &copy; 2024 TANIGUCHI Masaya
            </p>
            <p>
                This website uses 
                <a href="https://fonts.google.com/" target="_blank" rel="noopener">Google Fonts</a> 
                and 
                <a href="https://www.jsdelivr.com/" target="_blank" rel="noopener">jsDelivr</a>. 
                Please refer to our Terms of Use and Privacy Policy for more information.
            </p>
        </footer>
        {{^production}}
        <script>
         const sse = new EventSource("/sse");
         sse.addEventListener('open', () => {
             console.log("SSE connection was opend:", event);
         });
         sse.addEventListener('message', (event)=>{
             console.log("Received SSE event data:", event.data);
             if (event.data === "reload") {
                 location.reload();
             }
         });
         sse.addEventListener('error', (err)=>{
             console.error("SSE connection error:", err);
         });
         window.addEventListener('beforeunload', () => {
             sse.close();
         });
        </script>
        {{/production}}
    </body>
</html>
