<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} - tani.cc</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js" defer></script>
        <script>
         /* function pollReload() {
          *     // '/reload-endpoint' へ Long Poll を投げる
          *     fetch("/reload-endpoint")
          *         .then(response => response.text())
          *         .then(message => {
          *             if (message === "reload") {
          *                 // サーバ側で (reload) が呼ばれた！ => ページをリロード                         
          *                 location.reload();
          *             } else {
          *                 // それ以外の場合は再度ポーリング
          *                 pollReload();
          *             }
          *         })
          *         .catch(err => {
          *             console.error(err);
          *             // なにかエラーがあったら数秒後に再ポーリング
          *             setTimeout(pollReload, 5000);
          *         });
          * }
          * 
          * // ページ読込時に1回だけ呼び出す
          * window.addEventListener("load", function() {
          *     pollReload();
          * }); */
        </script>
        
        
        <style>
         header, main, footer {
             font-family: "EB Garamond", "Noto Serif JP", Georgia, serif;
             color: #333;
             &.container {
                 max-width: 720px;
             }
         }
         header {
             div {
                 display: grid;
                 grid-template-columns: 100px 1fr;
                 h1 {
                     font-size: 1.3em;
                     font-family: "Open Sans", sans-serif;
                 }
                 label {
                     font-size: 1.3em;
                     cursor: pointer;
                     text-align: right;
                 }
             }
         }
         main {
             article {
                 text-align: justify;
                 h1, h2, h3, h4, h5 {
                     text-align: center;
                     margin-top: 2em;
                 }
             }
         }
        </style>
    </head>
    <body>
        <header class="container" x-data="{ open: false }">
            <div>
                <h1>@tani</h1>
                <label>
                    <i x-show="open" class="bi bi-three-dots-vertical"></i>
                    <i x-show="!open" class="bi bi-three-dots"></i>
                    <input class="d-none" type="checkbox" @click="open = !open">
                </label>
            </div>
            <ul x-show="open">
                <li>
                    <a href="https://scrapbox.io/tani-note/">Scrapbox [<code>https://scrapbox.io/tani-note/</code>]</a>
                </li>
                <li>
                    <a href="https://github.com/tani">GitHub [<code>https://github.com/tani/</code>]</a>
                </li>
            </ul>
        </header>
        <main class="container">
            <article>
                {{{ article }}}
            </article>
        </main>
        <footer class="container">
            <p>
                &copy; TANIGUCHI Masaya 2024
            </p>
        </footer>
        <script>
         const sse = new EventSource("/sse");
         sse.addEventListener('open', () => {
             console.log("SSE connection was opend:", event);
         });
         sse.addEventListener('message', (event)=>{
             console.log("Received SSE event data:", event.data);
             if (event.data === "reload") {
                 location.reload();
             }
         });
         sse.addEventListener('error', (err)=>{
             console.error("SSE connection error:", err);
         });
         window.addEventListener('beforeunload', () => {
             sse.close();
         });
         </script>
    </body>
</html>
