<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }} - tani.cc</title>
    </head>
    <body>
        <header>
            <h1>tani.cc</h1>
        </header>
        <main>
            <article>
                {{{ article }}}
            </article>
        </main>
        <footer>
            <p>
                &copy; TANIGUCHI Masaya 2024
            </p>
        </footer>
    </body>
</html>
